<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>
<body>
    <div class="w3-container w3-margin-top w3-margin-bottom">
        <div class="w3-container w3-blue">
            <h1 style="display: inline-block">Парсер</h1>

            <a href="/logout" class="w3-button w3-red w3-right w3-margin">Выйти</a>
        </div>

        <div class="w3-container w3-light-grey w3-margin-top w3-margin-bottom">
            <h4 style="display: inline-block;" th:text="'Состояние: ' + ${running?'Запущен':'Остановлен'}">Состояние: запущен</h4>

            <div style="display: inline-block" class="w3-right w3-margin-top w3-margin-bottom">
                <form action="/parser/changeWorkingState" method="post">
                    <input type="hidden" name="state" th:value="${!running}">
                    <input value="Остановить" class="w3-button w3-right w3-green" type="submit" th:value = "${running?'остановить':'запустить'}">
                </form>
            </div>

        </div>

        <div class="w3-card w3-margin-bottom">
            <div class="w3-container w3-light-blue">
                <h4>Добавление URL</h4>
            </div>

            <div class="w3-container">
                <p>Добавьте список URL, каждый с новой строки</p>
                <form action="/parser/addUrl" method="post">
                    <textarea class="w3-input w3-border w3-margin-top w3-margin-bottom" rows="5" name="urls"></textarea>
                    <input class="w3-button w3-blue w3-right w3-margin-bottom" type="submit" value="Добавить URL в очередь парсинга"/>
                </form>
            </div>
        </div>

        <div class="w3-card">
            <div class="w3-container w3-light-blue">
                <h3>Статистика</h3>
            </div>

            <ul class="w3-ul">
                <li id="totalPageCount" th:text = "'Загальна кількість сторінок:' + ${totalPageCount}">Всего страниц: 10</li>

                <li id="noParsedPageCount" th:if="${totalPageCount == 0}">Обработанных: 0</li>
                <li id="parsedPageCount" th:if="${totalPageCount != 0}" th:with="parsedPercent=${100 * parsedPageCount / totalPageCount}" th:text = "'Кількість оброблених сторінок:' + ${parsedPageCount} + ' (' + ${parsedPercent} + '%)'">Обработанных: 5 (20%)</li>
            </ul>
        </div>
    </div>

    <script src="/scripts.js"></script>
</body>
</html>